# Ignore Gradle build directory
/build/
.gradle/
!gradle/wrapper/gradle-wrapper.jar

# Ignore IntelliJ IDEA project files
.idea/
*.iml

# Ignore Android Studio specific files
*.apk
*.ap_
*.dex
*.class
*.so
*.jar
*.war
*.ear
*.class
*.hprof
*.log
*.idx
*.gz
*.orig
*.keystore
*.jks
*.properties
*.tld
*.dtd
*.zip
*.tar.gz
*.7z
*.rar
*.jar
*.war
*.ear
*.class
*.hprof
*.log
*.idx
*.gz
*.orig
*.keystore
*.jks
*.properties
*.tld
*.dtd
*.zip
*.tar.gz
*.7z
*.rar

# Ignore macOS specific files
.DS_Store
.AppleDouble
.LSOverride

# Ignore Xcode specific files
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
.idea/
*.hmap
*.ipa
.build/
*.xcuserstate

# Ignore Kotlin/Native build directory
/build/bin/
.kotlin